<div class="container-fluid" id="contactUsTop">
  <h2 class="text text-center text-light"><strong>CONTACT US</strong></h2>
  <p>We are keen on hearing from you and giving you feedback in time.</p>
</div>

<div class="container" id="contactus">
  <br>
  <div class="row">
    <div class="col-lg-8 col-md-8 col-xs-12">
        <h5 class="text text-center"><strong>Contact Form</strong></h5>
        <p class="text text-center text-primary">Kindly the contact form below to send us a message. A response will be availed within 10 working days</p>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Enter Your Email Address">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter Your Phone Number">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter Your Message Subject">
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="3" placeholder="Enter Your Message"></textarea>
        </div>
        <button class="btn btn-md btn-success float-right">Send</button>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <h5 class="text text-center"><strong>Contact Info</strong></h5>
      <hr>
      <p><mat-icon> place</mat-icon>&nbsp;Juja, Juja Professional Arcade, 4th floor</p>
      <p><mat-icon> mail_outline</mat-icon>&nbsp;fibonaccilimited@gmail.com</p>
      <p><mat-icon> phone</mat-icon>&nbsp; 0700000000</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.0734409970783!2d37.0139314497364!3d-1.1071610357638646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f464061161125%3A0xc0e5f318bed9b5d2!2sJuja+Professional+Centre!5e0!3m2!1sen!2ske!4v1563369336038!5m2!1sen!2ske" width="380" height="200" frameborder="0" style="border:2" allowfullscreen></iframe>
    </div>
  </div>
</div>