
<div class="container" *ngIf="load">
    <div class="row">
        <div class="col-md-6 offset-md-3" id="forma" >
            <h3 class="text text-center">Edit Password</h3>&nbsp;
            <span class="spinner-border text-success" *ngIf="spin"></span>
            <hr>
            <div *ngIf="message && set" class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="message && !set" class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="editPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Old Password</label>
                    <input type="password" formControlName="userOldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userOldPassword.errors }" />
                    <div *ngIf="submitted && f.userOldPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.userOldPassword.errors.required">Old Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" formControlName="userNewPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userNewPassword.errors }" />
                    <div *ngIf="submitted && f.userNewPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.userNewPassword.errors.required">New Password is required</div>
                        <div *ngIf="f.userNewPassword.errors.minlength">Password must be at least 8 characters</div>
                        <div *ngIf="f.userNewPassword.errors.pattern">Password has to have a lowercase, uppercase and an interger value</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirm New Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.passwordMatch">Passwords must match</div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>